* {
    padding: 0;
    margin: 0;
    font-family: arial;
}

.crud-header-container {
    display: flex;
    height: 100px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: rgb(90, 90, 90);
    margin: 30px 0;
}

.crud-header-container img {
    height: 50px;
    margin-right: 12px;
}

.crud-form-container {
    background-color: rgb(232, 232, 232);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    width: 100%;
}

form {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.crud-form-container input {
    text-indent: 8px;
    height: 25px;
    border: none;
    margin: 5px 20px 0 0;
    width: 140px;
    border-radius: 7px;
}

input::placeholder {
    color: rgb(194, 194, 194);
}

input:focus {
    outline: 1px solid rgba(79, 114, 255, 0.434);
    color: rgb(52, 52, 52);
}

.crud-form-container label {
    font-size: 14px;
    color: rgb(104, 104, 104);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0;
}

.button .form-button {
    background-color: rgba(63, 179, 52, 0.676);
    border-radius: 20px;
    margin-left: 15px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.button .form-button:hover {
    background-color: rgba(63, 179, 52, 0.905);
}

.message-container {
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    padding-bottom: 5px;
}

.orange-message {
    color: rgba(238, 92, 56, 0.819);
}

.red-message {
    color: rgba(238, 56, 86, 0.86);
}

.green-message {
    color: rgb(75, 249, 36);
}


.crud-table {
    margin: 2px auto;
    width: 85%;
    font-weight: lighter;
    text-align: center
}


.title-tr {
    background-color: rgb(100, 127, 148);
    font-weight: lighter;
    color: rgb(241, 241, 241);
    height: 30px;
}

.title-tr th {
    padding: 0 20px;
}

.buttons-th {
    width: 140px;
}

.create {
    background-color: rgb(226, 226, 226);
    height: 40px;
    color: rgb(70, 70, 70);
}

.edit {
    width: 60px;
    height: 22px;
    cursor: pointer;
    background-color: rgba(238, 92, 56, 0.498);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border: none;
}

.edit:hover{
     background-color: rgba(238, 92, 56, 0.819);
}

.delete {
    width: 60px;
    height: 22px;
    cursor: pointer;
    background-color: rgba(238, 56, 86, 0.488);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border: none;
}
.delete:hover {
    background-color: rgba(238, 56, 86, 0.86);
}
